@import url('https://fonts.googleapis.com/css?family=Lato|Pacifico|Righteous|Roboto+Condensed|Ubuntu');
body{
    font-family: "Lato";
    background-color: rgb(233, 233, 233);
}
.container{
    background-color: white;
    box-shadow: inset;
}
.skill-bg{
    background-color: rgb(145, 222, 228);
    width: 100%;
    height: 6px;
    border-radius: 2px;
}
.heading{
    font-weight: 600;
}
.skill-percent{
    height: 100%;
    background-color: rgb(40, 169, 255);
}
.ninety{
    width: 90%;
}
.seventy-five{
    width: 75%;
}
.sixty{
    width: 60%;
}
.icon{
    height: 2.5rem;
    width: 2rem;
    padding-bottom: 2px;
    padding-left: 1px;
}
@media (max-width:568px){
    .name{
        margin-top: 4rem;
    }
}